<script>
import { randomBetween } from '@/utils';

export default {
  name: 'GemGame',
  data() {
    return {
      turns: 0,
      secondsPassed: 0,
      timer: null,
      boardNumbers: new Array(16),
    };
  },
  computed: {
    formattedTime() {
      const minutes = Math.floor(this.secondsPassed / 60);
      const seconds = this.secondsPassed % 60;

      return `${String(minutes).padStart(2, '0')}:${String(seconds).padStart(2, '0')}`;
    },
    haveWon() {
      for (let i = 0, l = this.boardNumbers.length - 1; i < l; i += 1) {
        if (this.boardNumbers[i] + 1 !== this.boardNumbers[i + 1]) {
          return false;
        }
      }

      return true;
    },
  },
  mounted() {
    const boardNumbers = this.boardNumbers;

    for (let i = 1; i < 16; i += 1) {
      while (true) {
        const pos = randomBetween(-1, 15);

        if (!boardNumbers[pos]) {
          boardNumbers.splice(pos, 1, i);
          break;
        }
      }
    }
  },
  methods: {
    startTimer() {
      this.timer = setInterval(() => {
        this.secondsPassed += 1;
      }, 1000);
    },
    movePiece(from, to) {
      if (!this.timer) this.startTimer();
      const [num] = this.boardNumbers.splice(from, 1, null);
      this.boardNumbers.splice(to, 1, num);
      this.turns += 1;

      if (this.haveWon) clearInterval(this.timer);
    },
    handlePieceClick(pieceIndex) {
      const boardNumbers = this.boardNumbers;

      if (pieceIndex + 4 < boardNumbers.length && !boardNumbers[pieceIndex + 4]) {
        this.movePiece(pieceIndex, pieceIndex + 4);
      } else if (pieceIndex - 4 >= 0 && !boardNumbers[pieceIndex - 4]) {
        this.movePiece(pieceIndex, pieceIndex - 4);
      } else if (pieceIndex + 1 < boardNumbers.length && !boardNumbers[pieceIndex + 1]) {
        this.movePiece(pieceIndex, pieceIndex + 1);
      } else if (pieceIndex - 1 >= 0 && !boardNumbers[pieceIndex - 1]) {
        this.movePiece(pieceIndex, pieceIndex - 1);
      }
    },
  },
};
</script>

<template>
  <div class="gem-game">
    <div class="gem-game__info">
      <div class="gem-game__turns"><span class="text-blue-100">Ходов</span> {{ turns }}</div>
      <div class="gem-game__time"><span class="text-blue-100">Время</span> {{ formattedTime }}</div>
    </div>

    <transition-group tag="div" class="gem-board" name="slide-fade">
      <div
        v-for="(number, index) in boardNumbers"
        :key="index"
        :class="{'gem-board__piece': true, 'gem-board__piece-filled': number}"
        @click="handlePieceClick(index)"
      >
        {{ number }}
      </div>
    </transition-group>
    <div v-if="haveWon" class="gem-game__win-message">
      You have won!
    </div>
  </div>
</template>

<style lang="scss">
.text-blue-100 {
  color: #4fe2df;
}

.gem-game {
  position: relative;

  &__info {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 10px;
  }

  &__turns,
  &__time {
    min-width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    padding: 10px;
    color: white;
    background-color: #1a2a30;
    border-radius: 8px;
  }

  &__turns {
    margin-right: 10px;
  }

  &__win-message {
    position: absolute;
    top: 78px;
    left: 0;
    right: 0;
    bottom: 0;
    height: 458px;
    color: white;
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 8px;
  }
}

.gem-board {
  padding: 20px;
  display: flex;
  max-width: 458px;
  flex-wrap: wrap;
  background-color: #1a2a30;
  border-radius: 8px;
  grid-gap: 6px;

  &__piece {
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    width: 100px;
    height: 100px;
    transition: all 300ms ease-in;

    &-filled {
      cursor: pointer;
      font-size: 42px;
      font-weight: 500;
      color: #4fe2df;
      background-color: #3db1af;
      border: 4px solid #4fe2df;
    }
  }
}
</style>
