<script>
import { GemGame } from '@/components';

export default {
  name: 'IndexPage',
  components: {
    GemGame,
  },
};
</script>

<template>
  <div class="app">
    <GemGame />
  </div>
</template>

<style lang="scss">
.app {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>
